{% load i18n %}
{% if object %}
    <form method="post" action="{% url 'orders:InvoiceClose' %}">
        {% csrf_token %}
        <button class="btn btn-warning btn-round form-control last" type="submit">{% trans "Sent to proceed" %}</button>
    </form>
    {% comment %}
    <button class="btn btn-default btn-round form-control last">
    <a href="{% url 'orders:delete' %}">{% trans "Delete" %}</a>
    </button>
    {% endcomment %}
{% endif %}
<button class="btn btn-info btn-round form-control last">
<a href="{% url 'orders:InvoiceList' %}">
    {% trans "To invoice list" %}
</a>
</button>
