{% load static i18n %}
<form action="{% url 'orders:OrderRemoveProduct' object.id %}" method="post">{% csrf_token %}<button type="submit" class="button-remove-order">{% trans 'Убрать' %}</button>
</form>