{% extends 'base.html' %}

{% block content %}

{% load i18n static %}

    {% include 'core/snippets/menu.html' with menu=menu.get_menu_submenu %}

    <div class="clearfix"></div>
    <div class="tab-content" style="display:block;">

        <form method="post" style="" enctype="multipart/form-data">

            {% csrf_token %}

            {{ form.as_ul }}

            <input type="submit" value="{% trans 'Save' %}">

        </form>

    </div>
    {% comment %}
     <a href="{% url 'products:edit' object.pk %}">Перейти к правке объекта</a>
    {% endcomment %}
{% endblock content %}