{% load i18n %}
<div class="product-slider">
    {% if images %}
        <img class="product-slider__item_full" src="{{images.0.image.url}}" alt="{% trans 'product-slider' %}">
        <div class="product-slider__switcher">
            {% for img in images|slice:"1:" %}
                <a href="#">
                    <img class="product-slider__item{% if img == images.0 %} product-slider__item_active{% endif %}" src="{{ img.image.url }}" alt="{% trans 'controll' %}">
                </a>
            {% endfor %}
        </div>
    {% endif %}
</div>