{% extends 'base.html' %}
{% block content %}
{% load i18n static %}
    {% include 'core/snippets/menu.html' with menu=menu.get_menu_submenu %}

    <div class="clearfix"></div>
    <div class="tab-content" style="display:block;">

        <form method="post" style="" enctype="multipart/form-data">
            {{ form.media }}
            {{ pictures_formset.media }}

            {% csrf_token %}
            <ul class="object_form">
                {{ form.as_ul }}
            </ul>
            {% if pictures_formset %}
                <fieldset class="{{ pictures_formset.prefix }}-inline">
                    {{ pictures_formset }}
                </fieldset>
                <button type="submit" onsubmit="return false;" onclick="addForm(this);return false;">{% trans 'add form' %}</button>
            {% endif %}
            <input type="submit" value="{% trans 'Save' %}">

        </form>
    </div>

        {% for picture in form.instance.pictures.all %}
        <a href="{% url 'core:PictureUpdate' picture.pk %}">{% trans "Перейти к правке картинки номер" %}  {{ forloop.counter }}</a>
        {% endfor %}

{% endblock content %}

