{% extends "base.html" %}{% load i18n %}
{% block content %}
    <div class="authForm marging-section text">
        <form class="authForm__form" method="post" >{% csrf_token %}
            {{form.old_password.label_tag}}
            {{form.old_password}}
            {{form.new_password1.label_tag}}
            {{form.new_password1}}
            {{form.new_password2.label_tag}}
            {{form.new_password2}}
            <input type="submit" value="{% trans 'Save' %}">
        </form>
    </div>
    {{form.old_password.errors}}
    {{form.new_password1.errors}}
    {{form.new_password2.errors}}
{% endblock content %}