{% extends "base.html" %}
{% load static i18n %}
{% block content %}
    <p class="marging-section padding-site">{% trans "Forgotten your password? Enter your email address below, and we'll email instructions for setting a new one." %}</p>
    <form method="post">{% csrf_token %}
        <fieldset class="padding-site text">
            <div class="form-row field-email">
                {{ form.email.errors }}
                <label for="id_email">{% trans 'Email address:' %}</label>
                {{ form.email }}
            </div>
            <input type="submit" value="{% trans 'Reset my password' %}">
        </fieldset>
    </form>
{% endblock content %}