{% extends "base.html" %}
{% load static i18n %}

{% block header_title %}<h1>{{page_title}}</h1>{% endblock header_title %}

{% block content %}
    <div class="authForm">
        <form class="authForm" action="{% url 'registration:AccountCreate' %}" method="post" >
            {% csrf_token %}
            <table>
            {{form.as_table}}
            <tr><td></td><td>
            <button type="submit" class="">{% trans 'Save' %}</button>
            </td></tr>
            </table>
        </form>
    </div>
{% endblock content %}