{% extends "base.html" %}{% load i18n %}
{% block extrastyle %}<link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css" integrity="sha384-MCw98/SFnGE8fJT3GXwEOngsV7Zt27NXFoaoApmYm81iuXoPkFOJwJ8ERdknLPMO" crossorigin="anonymous">{% endblock extrastyle %}
{% block jscripts %}<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.3/umd/popper.min.js" integrity="sha384-ZMP7rVo3mIykV+2+9J3UJ46jBk0WLaUAdn689aCwoqbBJiSnjAK/l8WvCWPIPm49" crossorigin="anonymous"></script>
<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/js/bootstrap.min.js" integrity="sha384-ChfqqxuZUCnJSK3+MXmPNIyE6ZbWh2IMqE241rYiqJxyMiZ6OW/JmZQ5stwEULTy" crossorigin="anonymous"></script>{% endblock jscripts %}
{% block content %}
    <div class="center marging-section text">
        <form action="{% url 'acc:changeProfile' %}" method="post" >
            {% csrf_token %}
            {{form.as_p}}
            <input type="submit" value="{% trans 'Save' %}">
        </form>
        <div class="product-slider__switcher">
            {% include 'accounts/includes/inc-change_pic_gallery.html' with images=object.pictures.all %}
        </div>
    </div>
{% endblock content %}
